[access]
	inheritFrom = All-Projects
[submit]
	action = cherry pick

[label "Code-Review"]
	abbreviation = R
	value = -1 Don't submit as-is
	value =  0 No score
	value = +1 Looks good to me
	defaultValue = 0
	function = MaxWithBlock
	copyMinScore = true
	copyMaxScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
[label "Commit-Queue"]
[label "Verified"]

[access "refs/*"]
	owner = group mdb/chrome-git-admins
[access "refs/for/refs/*"]
	push = group Registered Users
	create = group Registered Users
	exclusiveGroupPermissions = addPatchSet
	addPatchSet = group libyuv-committers
	forgeAuthor = group libyuv-committers
[access "refs/heads/*"]
	label-Code-Review = -1..+1 group libyuv-committers
	submit = group libyuv-committers
	push = group libyuv-committers
	forgeCommitter = group mdb/chrome-git-admins
	push = group chrome-infra-team
	push = group libyuv-committers
	push = +force group mdb/chrome-git-admins
